<!-- your html code here -->
<div class="container">
    <div class="row d-flex">
        <div class="col-8">
            <h1>Titulo 1 lalalalalalala</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim illo eos unde.
                Tempore ipsum quod corporis modi excepturi cumque, vel culpa dolores ducimus nostrum possimus et totam
                quae assumenda quibusdam.</p>
        </div>
        <div class="col-4">
            <div class="ratio ratio-1x1 mx-auto" style="max-width: 250px;">
                <img src="https://i.pinimg.com/736x/7e/d3/6e/7ed36ed04bc8254ba9fd57a768fd7a0d.jpg"
                    class="img-fluid rounded-circle" alt="Avatar">
            </div>
        </div>
    </div>
</div>