<!-- your html code here -->
<div class="container mb-5">
    <div class="row d-flex">
        <div class="col-8">
            <h1>Titulo 1 lalalalalalala</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim illo eos unde.
                Tempore ipsum quod corporis modi excepturi cumque, vel culpa dolores ducimus nostrum possimus et totam
                quae assumenda quibusdam.</p>
        </div>
        <div class="col-4">
            <div class="ratio ratio-1x1 mx-auto" style="max-width: 250px;">
                <img src="https://github.com/WaficMikati/4geeks-collaboracion-github/blob/main/website/assets/img/jinx.png?raw=true"
                    class="img rounded-circle" alt="Avatar">
            </div>
        </div> 
    </div>
</div>