<!-- your html code here -->
<div id="about" class="container mb-5" style="scroll-margin-top: 0rem;">
  <hr class="border-secondary my-5" />
  <div class="row d-flex">
    <div class="col-8">
      <h1>Bienvenido a Zaun, donde las reglas se rompen y a veces explotan</h1>
      <p>
        En las profundidades de la ciudad, la locura y la genialidad van de la mano. 
        Aquí nacen inventos peligrosos, estilos únicos y personajes como Jinx. ¿Moda? ¿Armas? ¿Accesorios? 
        ¡Sí a todo! Si brilla y hace ruido, lo queremos.
      </p>
    </div>
    <div class="col-4">
      <div class="ratio ratio-1x1 mx-auto" style="max-width: 250px">
        <img
          src="assets/img/jinx.png"
          class="img rounded-circle"
          alt="Avatar"
        />
      </div>
    </div>
  </div>
  <hr class="border-secondary my-5" />
</div>
