<nav
  class="navbar fixed-top justify-content-start p-3 bg-dark"
>
  <a class="navbar-brand p-0" href="#tagline">
    <img
      src="assets/img/arcane-logo.png"
      height="40rem"
      class="figure-img me-3"
    />
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link link-light fs-4 opacity-75" href="#about" onclick="document.getElementById('about').scrollIntoView(); return true;">About</a>
    </li>
    <li class="nav-item">  
      <a class="nav-link link-light fs-4 opacity-75" href="#">Club</a>
    </li>
    <li class="nav-item">  
      <a class="nav-link link-light fs-4 opacity-75" href="#">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light fs-4 opacity-75" href="#">Sign Up</a>
    </li>
  </ul>
</nav>
