<div class="container">
  <h1>Productos</h1>
  <p>
    Apoyanos y compra nuestros productos officiales de Riot y League of Legends
  </p>
  <div class="row g-3">
    <div class="col-md-4">
      <div class="card bg-transparent border-0 pt-3 h-100">
        <img
          src="assets/img/ekko-jinx-statue.png"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h4 class="card-title text-primary-emphasis">Ekko y Jinx</h4>
          <p class="card-text">
            Un instante fugaz congelado en el tiempo, un último baile antes de
            que el destino los separe. Ekko y Powder se sientan juntos, sus
            manos y cabezas se tocan suavemente como si saborearan una despedida
            silenciosa.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-transparent border-0 pt-3 h-100">
        <img src="assets/img/jinx-statue.png" alt="" class="card-img-top" />
        <div class="card-body">
          <h4 class="card-title text-primary-emphasis">Arcana Jinx</h4>
          <p class="card-text">
            Ya sea que apoyes a Zaun y la ciudad subterránea, impulses el
            progreso en Piltóver o simplemente quieras verlo todo arder, la
            nueva colección de productos Arcane tiene algo para cada fan.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-transparent border-0 pt-3 h-100">
        <img src="assets/img/monkey-statue.png" alt="" class="card-img-top" />
        <div class="card-body">
          <h4 class="card-title text-info-emphasis">El mono de Powder</h4>
          <p class="card-text">
            Con ojos rojos brillantes y piedras preciosas junto con una base de
            exhibición iluminada y 8 pulgadas de alto, este mono 1:1 también
            presenta acciones de caminar y aplaudir fieles a la invención
            original de Powder y los sonidos a juego.
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr class="border-primary mb-5" />
</div>
