<div class="container">
  <h1>Productos</h1>
  <p>
    Apoyanos y compra nuestros productos officiales de Riot y League of Legends
  </p>
  <div class="container-fluid d-flex">
    <div class="card">
      <img src="assets/img/ekko-jinx-statue.png" alt="" class="card-img-top" />
      <div class="card-body">
        <h4 class="card-title fs-1">Ekko y Jinx</h4>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/jinx-statue.png" alt="" class="card-img-top" />
      <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text"></p>
      </div>
    </div>
    <div class="card">
      <img src="assets/img/monkey-statue.png" alt="" class="card-img-top" />
      <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>

