<!-- your html code here -->
<div class="container mb-5">
  <div class="row d-flex">
    <div class="col-4">
      <div class="ratio ratio-1x1 mx-auto" style="max-width: 250px">
        <img
          src="assets/img/caitlyn.webp"
          class="img-fluid rounded-circle"
          alt="Avatar"
        />
      </div>
    </div>
    <div class="col-8">
      <h1>Piltover: Donde el progreso tiene clase y gadgets de lujo</h1>
      <p>
        Torreones brillantes, inventores de etiqueta y hextech por todas partes. 
        Si lo tuyo es más ciencia elegante que caos explosivo, aquí tienes artículos tan refinados como Jayce peinándose el bigote. 
        Compra como un Piltoverino, sin ensuciarte los guantes.
      </p>
    </div>
  </div>
  <hr class="border-secondary my-5">
</div>

